<li id="<%= dom_id todo %>">
  <%= form_with(model: todo,  data: { controller: "form-toggle" }) do |form| %>
    <div class="view">
      <%= form.checkbox :completed, class: "toggle", data: { action: "form-toggle#submit" } %>
      <label><%=todo.title%></label>
    </div>
  <% end %>
</li>