<p style="color: green"><%= notice %></p>
<% content_for :title, "Todos" %>
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= render "form", todo: @todo%>
  </header>
  <% if @todos.present? %>
    <%= render partial: "list"%>
  <% end %>
</section>