.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


turbo-frame .loader {

    width: 32px;
    height: 32px;

    display: none;
    position: absolute;
    top: calc(50% - 16px);
    right: 20px;
}

turbo-frame[busy] .loader {
    display: inline-block;
}